<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feril Bagus</title>
</head>
<body>
    <h1>Profil Saya</h1>
    <article>Nama saya adalah {{ name }}</article>
    <article>NPM saya adalah {{ npm }}</article>
    <article>Saya sedang kuliah di {{ college }}</article>
    <article>Saya lahir di {{ born_place }} pada {{ born_date }}</article>
    <article>Saya berumur {{ age }} tahun</article>
    <article>Hobi saya adalah {{ hobby }}</article>
	<article>deskripsi diri : Saya belajar PPW</article>
    <img src="https://image.ibb.co/fKDrAK/f1.jpg"  width="150" height="150">
	<h1> </h1>
	<h1>Profil Teman Samping Kiri Saya</h1>
    <article>Nama teman saya adalah {{ name_1 }}</article>
    <article>NPM teman saya adalah {{ npm_1 }}</article>
    <article>Teman saya sedang kuliah di {{ college }}</article>
    <article>Teman saya lahir di {{ born_place_1 }} pada {{ born_date_1 }}</article>
    <article>Teman saya berumur {{ age_1 }} tahun</article>
    <article>Hobi teman saya adalah {{ hobby_1 }}</article>
	<article>deskripsi diri : Ringgi lucu</article>
	<img src="https://scontent-atl3-1.cdninstagram.com/vp/b9768f9d0e5c09ef09c4ce70d49f46a3/5BCFA7E8/t51.2885-19/s150x150/35616454_362626150930675_5128621431701110784_n.jpg"  width="150" height="150">
	<h1> </h1>
	<h1>Profil Teman Samping Kanan Saya</h1>
    <article>Nama teman saya adalah {{ name_2 }}</article>
    <article>NPM teman saya adalah {{ npm_2 }}</article>
    <article>Teman saya sedang kuliah di {{ college }}</article>
    <article>Teman saya lahir di {{ born_place_2 }} pada {{ born_date_2 }}</article>
    <article>Teman saya berumur {{ age_2 }} tahun</article>
    <article>Hobi teman saya adalah {{ hobby_2 }}</article>
	<article>deskripsi diri : ya begitu saja</article>
</body>
</html>
